<a href="https://colab.research.google.com/github/yudhafebrianta/intro-python/blob/master/001_python_operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Research Center Digital Business Ecosystem - Telkom University*


---

Introduction

In [ ]:
# Correct indentation
print ("Programming is an important skill for Data Science")
print ("Statistics is an important skill for Data Science")
print ("Business domain knowledge is an important skill for Data Science")
# Correct indentation, note that if statement here is an example of suites
x = 1
if x == 1:
  print ('x has a value of 1')
else:
  print ('x does NOT have a value of 1')

Programming is an important skill for Data Science
Statistics is an important skill for Data Science
Business domain knowledge is an important skill for Data Science
x has a value of 1

In [ ]:
# incorrect indentation, program will generate a syntax error
# due to the space character inserted at the beginning of the second line
print ("Programming is an important skill for Data Science")
print ("Statistics is an important skill for Data Science")
print ("Business domain knowledge is an important skill for Data Science")
3
# incorrect indentation, program will generate a syntax error
# due to the wrong indentation in the else statement
x = 1
if x == 1:

SyntaxError: ignored

# **Python Operators**
Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

## **Arithmetic Operators**
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication and division

In [ ]:
# Examples of Arithmetic Operator 
a = 9
b = 4

In [ ]:
# Addition of numbers 
add = a + b 
print(add)

In [ ]:
# Subtraction of numbers 
sub = a - b
print(sub)

In [ ]:
# Multiplication of number 
mul = a * b
print(mul)

In [ ]:
# Division(float) of number 
div1 = a / b
print(div1)

In [ ]:
# Division(floor) of number 
div2 = a // b
print(div2)

In [ ]:
# Modulo of both number 
mod = a % b
print(mod)

In [ ]:
# Power 
p = a ** b print(p) 
print(p)

## **Relational Operators**
Relational operators compares the values. It either returns True or False according to the condition.

In [ ]:
# Examples of Relational Operators 
a = 13
b = 33

In [ ]:
# a > b is False 
print(a > b)

In [ ]:
# a < b is True 
print(a < b)

In [ ]:
# a == b is False 
print(a == b)

In [ ]:
# a != b is True 
print(a != b)

In [ ]:
# a >= b is False 
print(a >= b)

In [ ]:
# a <= b is True 
print(a <= b)

## **Logical operators**
Logical operators perform Logical AND, Logical OR and Logical NOT operations.

In [ ]:
# Examples of Logical Operator 
a = True
b = False

In [ ]:
# Print a and b is False 
print(a and b)

In [ ]:
# Print a or b is True 
print(a or b)

In [ ]:
# Print not a is False 
print(not a)

## **Bitwise operators**
Bitwise operators acts on bits and performs bit by bit operation.

In [ ]:
# Examples of Bitwise operators 
a = 10
b = 4

In [ ]:
# Print bitwise AND operation 
print(a & b)

In [ ]:
# Print bitwise OR operation 
print(a | b)

In [ ]:
# Print bitwise NOT operation 
print(~a)

In [ ]:
# print bitwise XOR operation 
print(a ^ b)

In [ ]:
# print bitwise right shift operation 
print(a >> 2)

In [ ]:
# print bitwise left shift operation 
print(a << 2)